#infoLinija {
    display: flex;
    align-items: center;
}
#gitID{
    border-width:0px;
    width:20px;
    height:20px;
    color:black;
}
#fbID {
    border-width: 0px;
    width: 20px;
    height: 20px;
}

#instaID {
    border-width: 0px;
    width: 20px;
    height: 20px;
}

#ytID {
    border-width: 0px;
    width: 20px;
    height: 20px;
}

#slikeID {
    flex: auto;
    margin-right: 100px;
}

#prviID,
#drugiID,
#treciID {
    float: right;
    margin-right: 20px;
}

#infoID {
    margin-left: 100px;
}

#logoId {
    margin-left: 90px;
    width: 625px;
    height: 276px;
}

#navDiv {
    display: flex;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    height: 16px;
    margin-top:20px;
}

#lineDiv {
    display: flex;
    align-content: center;
    justify-content: center;
}

#hr1ID {
    width: 460px;
    height: 3px;
    background-color: purple;
    border: none;
    margin: 0;
}

#hr2ID {
    width: 425px;
    background-color: orange;
    border: none;
    margin: 0;
}

#hr3ID {
    width: 423px;
    background-color: yellow;
    border: none;
    margin: 0;
}

#footerID {
    width: 100%;
    height: 50px;
    background-color:black;
    display: flex;
}

#prviP {
    color: white;
    margin-left: 250px;
}

#drugiP {
    color: white;
    margin-left: 300px;
}

#mibospoID {
    width: 100%;
    margin-right: 2px;
    margin-top: 100px;
    
}
sloganID{
    position:relative;
}
/*Ovo je proba sav kod koji se nalazi ispod ovog komentara. 
  TAKOĐE ĆU MORATI MODIFIKOVATI OVAJ KOD.
*/

.span1Class {
    color: #660066;
}

.span2Class {
    color: #FF6600;
}

.span3Class {
    color: #FFCC00;
}

.aClass1 {
    text-decoration: none;
}

#logoIkonaID {
    height: 247px;
    width: 553px;
}

#sloganID {
    margin-left: 738px;
}

.span5Class {
    color: blue;
}

/*Ovo ispod je probno */
#logoIkonaID {
    max-width: 100%;
}

#sloganID {
    text-align: center;
}

.navClass {
    display: flex;
    width: 100%;
}

.span6Class {
    text-align: center;
}

.navClass {
    background-color: #0099CC;
    height: 46px;
    width: 100%;
}

.navClass ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; /* postavite na lijevu ili desnu stranu, ovisno o vašim potrebama */
}

.navClass ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    border-right: 1px solid #ccc; /* dodajte granicu ako želite */
    padding: 10px; /* dodajte odgovarajući razmak između elemenata */
    text-align: center;
    margin-left: 10rem;
    font-family: 'Open Sans', sans-serif;
}

.navClass ul li:last-child {
    border-right: none; /* uklonite granicu za zadnji element */
}

.navClass ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 5px;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
    #sloganID {
        margin-left: 0;
    }

    #prviID, #drugiID, #treciID {
        display: block;
        margin: 0 auto;
    }

    #navID {
        display: none;
    }

    li {
        display: flex;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 2px;
        font-weight: bolder;
        text-align: left;
    }

    #footerID, #prviP, #drugiP {
        display: flex;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 3px;
    }

    #logoIkonaID {
        visibility: hidden;
    }

    .navClass ul li {
        border-right: none;
    }
    #natpisLogo{
        visibility:hidden;
    }
}

/* Media query for medium screens */
@media only screen and (min-width: 601px) and (max-width: 960px) {
    #sloganID {
        margin-left: 0;
    }

    #prviID, #drugiID, #treciID {
        display: block;
        margin: 0 auto;
    }

    #navID {
        display: none;
    }

    li {
        display: flex;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 2px;
    }

    #footerID, #prviP, #drugiP {
        display: flex;
        margin-top: 10px;
        position: relative;
        float: left;
        margin-left: 3px;
    }
}

/* Media query for large screens */
@media only screen and (min-width: 961px) {
#sloganID {
    margin-left: 738px;
}

#prviID, #drugiID, #treciID {
    display: inline-block;
    margin-right: 10px;
}

#navID {
    display: block;
}

li {
    display: flex;
    margin-top: 10px;
    position: relative;
    float: left;
}

#footerID, #prviP, #drugiP {
    display: flex;
    margin-top: 10px;
    position: relative;
    float: left;
}
}

#footerID {
    background-color: #0066CC
}


.span4Class {
    font-size: large;
    color: #FFCC00;
}

#gitID {
    border-width: 0px;
    width: 20px;
    height: 20px;
    color: black;
    border-radius: 10px;
}

#cetvrtiID {
    float: right;
    margin-right: 10px;
}
#natpisLogo {
    width: 591px;
    z-index: 1;
    left: 751px;
    top: 162px;
    position: absolute;
    height: 25px;
    color: #0066FF;
    font-size: x-large;
}
